@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/HelveticaNeueBlack.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

img {
    -webkit-user-drag: none;
    pointer-events: none;
}

body {
    font-family: 'Helvetica', sans-serif;
    overflow-x: hidden;
    margin-left: 20%;
    margin-right: 20%;
}